*{
  font-family: 'Exo', sans-serif;
}

.bg-blue{
  background-color: #00284E;
}

.text-blue{
  color: #00284E;
}

.bg-tosca{
  background-color: #C1E3ED;
}


/* HOME PAGE */
.headline-image{
  /* transform: scale(0.8); */
  width: 70%;
  transition: 0.3s;
}

.headline:hover .headline-image{
  transform: scale(1.2);
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

/* FORM SIGN IN REGISTER */
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-registration input{
  border-radius: 0;
  margin-bottom: -1px;
}